.node {
  .main {
    display: flex;
    a {
      display: inline-block;
      margin-right: 5px;
      flex: 0;
      flex-basis: 20px;
      text-align: right;
      text-decoration: none;

      .symbol {
        opacity: 0;
      }

      .dot {
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background-color: green;
        margin-left: 5px;

        &.collapse {
          background-color: blue;
        }

        &:hover {
          background-color: red;
        }
      }
    }

    &:hover .symbol {
      opacity: 1;
    }

    .name{
      flex: 1;
    }
  }

  .children {
    margin-left: 30px;
  }
}
